/* GLOBAL */
body {
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 1440px;
  padding: 0 94px;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 100%;
}

/* /GLOBAL */
/* NAV */
.nav__wrapper {
  background: #8199DF26;
  height: 147px;
}

.nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  background-image: url("../images/icons/colief.svg");
  background-size: cover;
  width: 96px;
  height: 65px;
}

.nav__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.nav__list>* {
  margin: 0 20px;
}

.nav__list>li>* {
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
}

.nav__list>li>.active {
  font-weight: 700;
}

.nav__order {
  width: 192px;
  height: 36px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 24px;
  border: 1.5px solid rgba(255, 217, 100, 0.75);
  border-radius: 35px;
}

/* /NAV */
/* HEADER */
.header__wrapper {
  height: 650px;
  box-sizing: border-box;
  background: #8199DF26;
}

.header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header__left {
  padding-top: 83px;
  box-sizing: border-box;
}

.header__left>h1 {
  max-width: 100%;
  width: 700px;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 140%;
  text-transform: uppercase;
  color: #4198B9;
  margin-bottom: 7px;
}

.header__left>p {
  max-width: 100%;
  width: 617px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 149.52%;
  color: #838383;
  margin-bottom: 47px;
}

.header__left>button {
  width: 230px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 55px;
  color: #FFFFFF;
  background: linear-gradient(177.74deg, #FCCA05 1.86%, rgba(255, 146, 0, 0.65) 97.36%);
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.07);
  border-radius: 35px;
  border: 0;
  cursor: pointer;
}

.header__right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 500px;
  margin-top: 60px;
}

.header__right>div {
  width: 210px;
  height: 335px;
  position: relative;
}

.header__right>div>span {
  position: absolute;
  right: 0;
  top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 16px;
  text-transform: uppercase;
}

.header__right>div>img {
  position: absolute;
  left: -88px;
  bottom: -75px;
}

.header__right>.plus {
  width: 76px;
  height: 76px;
  position: relative;
  left: 38px;
  bottom: 42px;
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
}

.header__right>p {
  width: 100%;
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 11.52px;
  line-height: 150%;
  text-align: right;
  color: #C0C0C0;
}

.header__right>.vitaminD>span {
  right: -63px;
  top: -6px;
  color: rgba(92, 166, 255, 0.15);
}

.header__right>.vitaminC>span {
  right: 6px;
  top: -5px;
  color: rgba(255, 135, 36, 0.15);
}

/* /HEADER */
/* ADVANTAGES */
.advantages {
  width: 1040px;
  max-width: 100%;
  height: 100px;
  margin: auto;
  background: #F6F9FC;
  opacity: 0.9;
  box-shadow: 0px 2px 3px 3px rgba(191, 217, 254, 0.15);
  border-radius: 30px;
  position: relative;
  top: -50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 110px;
}

.advantages__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.advantages__block>p {
  color: rgba(120, 150, 193, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}

.advantages__block>p>span {
  display: block;
}

.advantages>.since>.icon {
  width: 45px;
  height: 45px;
  background-image: url("../images/icons/since.png");
}

.advantages>.star>.icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/icons/star.svg");
}

.advantages>.madeineu>.icon {
  width: 45px;
  height: 45px;
  background-image: url("../images/icons/madeineu.png");
}

.advantages>.hypoallerg>.icon {
  width: 45px;
  height: 45px;
  background-image: url("../images/icons/hypoallerg.svg");
}

.advantages__block>.icon {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
}

/* /ADVANTAGES */
.d3__wrapper {
  background: rgba(227, 245, 251, 1);
  padding-bottom: 120px;
}

/* D3 */
.d3 {
  overflow: visible;
}

.d3__block {
  margin-top: 24px;
}

.d3__block>h2 {
  margin: auto;
  width: 700px;
  text-align: center;
  max-width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 35.16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #4198B9;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 72px;
}

.d3__block>h2:after {
  content: '';
  width: 400px;
  height: 15px;
  margin-top: 10px;
  background-image: url("../images/wave.png");
}

.d3__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 137px;
}

.d3__text>div:first-child {
  margin-right: 125px;
}

.d3__text>div:last-child {
  width: 605px;
  height: 360px;
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 130%;
  color: #52637C;
}

.d3__text>div:last-child>p:first-child {
  width: 578px;
  max-width: 100%;
  margin-top: 70px;
  margin-bottom: 29px;
}

.d3__info {
  position: relative;
  width: 1252px;
  height: 104px;
  margin: auto;
  background: rgba(246, 249, 252, 0.75);
  box-shadow: 0px 2px 2px 3px rgba(191, 217, 254, 0.25);
  border-radius: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  padding: 22px 20px;
  box-sizing: border-box;
  margin-bottom: 125px;
}

.d3__info:after {
  content: '';
  width: 400px;
  height: 15px;
  margin-top: 10px;
  background-image: url("../images/wave.png");
  position: absolute;
  bottom: -12px;
  left: calc(50% - 200px);
}

.d3__info>.icon {
  width: 64px;
  height: 64px;
  background-image: url("../images/icons/drop.svg");
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 43px;
}

.d3__info>ul>li {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #42648A;
  list-style: initial;
}

.functions {
  border: 2.5px solid #BFD9FE;
  box-sizing: border-box;
  border-radius: 50px;
}

.functions__title {
  width: 444px;
  display: block;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.71%;
  letter-spacing: 0.07em;
  color: #7D82B8;
  background: rgba(227, 245, 251, 1);
  position: relative;
  bottom: 17px;
  padding: 0 7px;
  box-sizing: border-box;
  margin-bottom: 57px;
}

.functions__block {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.functions__left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 380px;
  height: 400px;
}

.functions__left>img:first-child {
  position: absolute;
  right: -4px;
  top: 58px;
}

.functions__left>img:last-child {
  position: absolute;
  right: -100px;
  top: 5px;
}

.functions__right {
  height: 402px;
}

.functions__right>div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}

.functions__right>.block1 {
  margin-bottom: 21px;
  left: -55px;
}

.functions__right>.block1>.icon {
  margin-right: 20px;
}

.functions__right>.block2 {
  margin-bottom: 63px;
  left: 34px;
}

.functions__right>.block2>.icon {
  margin-right: 20px;
}

.functions__right>.block3 {
  margin-bottom: 65px;
  left: 65px;
}

.functions__right>.block3>.icon {
  margin-right: 20px;
}

.functions__right>.block3>span {
  width: 560px;
}

.functions__right>.block4 {
  margin-bottom: 18px;
  left: 35px;
}

.functions__right>.block4>.icon {
  margin-right: 20px;
}

.functions__right>.block5 {
  left: -55px;
}

.functions__right>.block5>.icon {
  margin-right: 20px;
}

.functions__right>.block5>span {
  width: 601px;
}

.functions__right>div>.icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/icons/light.svg");
  background-size: cover;
}

.functions__right>div>span {
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #8199DF;
}

.d3__additionalLink {
  width: 276px;
  display: block;
  margin: auto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14.4px;
  line-height: 150%;
  color: #004E6B;
  margin-bottom: 37px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px dashed #004E6B;
}

/* /D3 */