@media (max-width: 1439.98px) {

  /* GLOBAL */
  .wrapper {
    max-width: 100%;
    box-sizing: border-box;
  }

  .container h2 {
    font-size: 30px;
  }

  .together__info>.info__p>h2 {
    font-size: 30px;
  }

  /* /GLOBAL */
  /* HEADER */
  .header__left>h1 {
    width: 430px;
    font-size: 36px;
  }

  .header__left>p {
    width: 430px;
  }

  .header__right>.vitaminD>img {
    width: 364px;
  }

  .header__right>.vitaminC>img {
    width: 294px;
  }

  .header__right>div {
    width: 150px;
    height: 235px;
  }

  .header__right>.plus {
    left: 15px;
    bottom: 0;
  }

  /* /HEADER*/
  /* ADVANTAGES */
  .advantages {
    height: auto;
    padding: 15px 25px 0 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages__block {
    width: 220px;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .advantages__block>p {
    width: 100px;
  }

  .vitamins__info>ul>li {}

  /* /ADVANTAGES */
  /* D3 */
  .vitamins>h2 {
    position: relative;
    z-index: 999;
  }

  .vitamins__text>.text__p>p:first-child {
    width: auto;
  }

  .vitamins__text>div:first-child {
    margin-right: 25px;
  }

  .vitamins__text>.text__p>p:first-child {
    margin-top: 10px;
  }

  .vitamins__text>.text__p {
    height: auto;
    font-size: 18px;
  }

  .c__vitamins>.vitamins__text>.text__p {
    font-size: 18px;
  }

  .vitamins__info {
    height: auto;
    flex-wrap: nowrap;
  }

  .vitamins__info>ul {}

  .c__vitamins>.vitamins__text>div>img {
    width: 410px;
  }

  /* /D3 */
  /* C */
  .c__vitamins>.vitamins__text>div:first-child {
    margin-right: 25px;
  }

  .c__vitamins>.vitamins__text>.text__p>p:first-child {
    margin-top: 10px;
  }

  /* /C */
  /* TOGETHER */
  .together__p {
    font-size: 20px;
  }

  .together__info {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  /* /TOGETHER */
  /* DISCOUNT */
  .discount {
    width: 950px;
  }

  .discount__sign {
    left: -20px;
  }

  .discount__info>.info__plus {
    z-index: 999;
  }

  .discount__info>.info__left>img {
    right: -240px;
    top: -190px;
    width: 338px;
  }

  .discount__info>.info__right>img {
    left: -185px;
    top: -190px;
    width: 250px;
  }

  /* /DISCOUNT */
  /* ONLINE */
  .onlineD3 {
    width: calc(100% / 2 - 950px / 2 + 950px);
  }

  .onlineC {
    width: calc(100% / 2 - 975px / 2 + 975px);
  }

  .onlineC__title, .onlineD3__title {
    font-size: 30px;
  }

  .onlineD3__content, .onlineC__content {
    width: 1000px;
  }

  .onlineC__content {
    padding-left: 15px;
  }

  .onlineC .content__left {
    width: 420px;
  }

  .functions__left>img:first-child {
    width: 150px;
    top: 120px;
    right: -25px;
  }

  .c__vitamins .functions__left>img:first-child {
    width: 125px;
    top: 130px;
    right: -50px;
  }

  /* /ONLINE */
  /* REVIEWS */
  .slick-slide img {
    max-width: 100%;
  }

  /* /REVIEWS */
  /* QUESTIONS */
  .questions {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .questions>div:first-child {
    margin-right: 0;
  }

  .question__title {
    width: 100%;
  }

  /* /QUESTIONS */
  .nav__list {
    max-width: 450px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__list>* {
    margin-bottom: 10px;
  }

  .footer__wrapper .nav__list {
    max-width: 500px;
  }
}

@media (max-width: 1023.98px) {
  .nav__order {
    text-align: center;
  }

  .nav__wrapper .nav__list, .nav__wrapper .nav__order {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    z-index: 1002;
  }

  .burger__icon {
    display: block;
    position: relative;
    bottom: 8px;
    background: #004577;
    width: 90%;
    height: 2px;
    transition: .4s;
  }

  .burger__icon::after,
  .burger__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #004577;
    width: 100%;
    height: 2px;
    transition: .4s;
    right: 0;
  }

  .burger__icon::after {
    top: 8px;
    width: 80%;
  }

  .burger__icon::before {
    top: 16px;
    width: 50%;
  }

  .burger.active>.burger__icon {
    background: transparent;
  }

  .burger.active>.burger__icon::before,
  .burger.active>.burger__icon::after {
    top: 8px;
    width: 100%;
  }

  .burger.active>.burger__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .burger.active>.burger__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .header {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
  }

  .header__left {
    padding-top: 0;
  }

  .header__left>h1 {
    width: 650px;
    font-size: 32px;
  }

  .header__left>p {
    width: 100%;
    margin-bottom: 20px;
  }

  .header__right {
    max-width: 600px;
    margin-top: 0;
    justify-content: space-around;
    height: 330px;
  }

  .header__right>p {
    position: relative;
    top: 15px;
  }

  .header__right>.vitaminD>span {
    top: 5px;
  }

  .header__right>.vitaminC>span {
    top: 5px;
  }

  .functions__left {
    display: none;
  }

  .functions__block {
    margin-bottom: 0;
  }

  .functions__right>.block1,
  .functions__right>.block2,
  .functions__right>.block3,
  .functions__right>.block4,
  .functions__right>.block5 {
    left: 0;
    margin-bottom: 15px;
  }

  .functions__right>.block1,
  .functions__right>.block2,
  .functions__right>.block3,
  .functions__right>.block4,
  .functions__right>.block5,
  .c__vitamins .functions__right>.block1,
  .c__vitamins .functions__right>.block2,
  .c__vitamins .functions__right>.block3,
  .c__vitamins .functions__right>.block4,
  .c__vitamins .functions__right>.block5 {
    left: 0;
    margin-bottom: 15px;
  }

  .functions__right>.block1>span,
  .functions__right>.block2>span,
  .functions__right>.block3>span,
  .functions__right>.block4>span,
  .functions__right>.block5>span,
  .c__vitamins .functions__right>.block1>span,
  .c__vitamins .functions__right>.block2>span,
  .c__vitamins .functions__right>.block3>span,
  .c__vitamins .functions__right>.block4>span,
  .c__vitamins .functions__right>.block5>span {
    width: 350px;
    max-width: 100%;
  }

  /* DISCOUNT */
  .discount {
    width: 700px;
  }

  .discount__sign {
    left: -20px;
  }

  .discount__sign>.icon {
    width: 85px;
    height: 85px;
    font-size: 24px;
  }

  .discount__sign>p {
    width: 425px;
    top: 0;
    font-size: 16px;
  }

  .discount__info>div {
    margin-top: 450px;
    margin-bottom: 100px;
  }

  .discount__info>.info__plus {
    z-index: 999;
  }

  .discount__info>.info__left>img {
    left: 0;
    top: -400px;
    width: 338px;
  }

  .discount__info>.info__right>img {
    right: 0;
    left: 0;
    top: -400px;
    width: 250px;
  }

  /* /DISCOUNT */
  /* ONLINE */
  .onlineD3, .onlineC {
    width: calc(100% - 25px);
  }

  .onlineD3 .content__left {
    margin-top: 80px;
  }

  .onlineD3 .content__right, .onlineC .content__left {
    margin-top: 50px;
  }

  .onlineD3:after, .onlineC:after {
    bottom: 50px;
  }

  .onlineD3__content, .onlineC__content {
    width: 100%;
  }

  .onlineC__title, .onlineD3__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .onlineD3 .content__right {
    width: 100%;
  }

  .onlineD3__img>span, .onlineC__img>span {
    width: 300px;
  }

  .onlineC__img>span {
    left: 20px;
  }

  .onlineD3__img, .onlineC__img {
    width: 170px;
  }

  .onlineC__img:before {
    right: -320px;
  }

  .onlineD3__img>img {
    left: -240px;
  }

  .onlineC .content__right {
    margin-right: 30px;
  }

  .partners {
    width: 100%;
  }

  .partners>a {
    width: 100%;
  }

  /* /ONLINE */
  /* FOOTER */
  .footer__wrapper>nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__wrapper .nav__logo {
    margin-bottom: 25px;
  }

  .footer__wrapper .nav__list {
    margin-bottom: 15px;
  }

  /* /FOOTER */
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 15px;
  }

  .nav__wrapper {
    height: 60px;
  }

  .nav__wrapper .nav__logo {
    width: 72px;
    height: 49px;
  }

  .header__wrapper {
    margin-top: 60px;
    height: 850px;
  }

  .header__left>h1 {
    font-size: 23px;
  }

  .header__right>.vitaminD>span, .header__right>.vitaminC>span {
    font-size: 45px;
    right: -30px;
    top: 20px;
  }

  .header__right {
    height: 260px;
  }

  .header__right>div {
    height: 175px;
  }

  .header__right>.vitaminC>span {
    right: 20px;
  }

  .header__right>.vitaminC>img {
    width: 165px;
  }

  .header__right>.plus {
    width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .header__right>.vitaminD>img {
    width: 204px;
  }

  .header__left>h1 {
    width: 100%;
  }

  .header__right>.plus {
    left: 10px;
    bottom: -45px;
  }

  .header__right>div>img {
    left: -15px;
    bottom: -30px;
  }

  .d3__wrapper:before, .d3__wrapper:after, .c__wrapper:before, .c__wrapper:after {
    display: none;
  }

  .vitamins__text {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantages {
    top: -150px;
  }

  .advantages__block {
    width: 170px;
  }

  .d3__vitamins {
    margin-top: 0;
  }

  .vitamins__text>.text__p {
    width: 100%;
  }

  .vitamins__text>div:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .vitamins__info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding: 25px;
  }

  .vitamins__info>p {
    margin-bottom: 15px;
  }

  .vitamins__info>p:after {
    width: 170px;
  }

  .vitamins__info>ul {
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .vitamins__info>ul>li {
    margin-bottom: 10px;
  }

  .vitamins__info>ul>li>span {
    display: block;
  }

  .vitamins__info>.icon {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .functions__title {
    width: 195px;
  }

  .functions__right>.block1>span,
  .functions__right>.block2>span,
  .functions__right>.block3>span,
  .functions__right>.block4>span,
  .functions__right>.block5>span,
  .c__vitamins .functions__right>.block1>span,
  .c__vitamins .functions__right>.block2>span,
  .c__vitamins .functions__right>.block3>span,
  .c__vitamins .functions__right>.block4>span,
  .c__vitamins .functions__right>.block5>span {
    width: 330px;
    font-size: 16px;
    color: #808080;
  }

  .functions__right {
    height: auto;
    margin-bottom: 20px;
  }

  .functions__right>div>.icon,
  .c__vitamins .functions__right>div>.icon {
    -ms-align-self: flex-start;
    align-self: flex-start;
  }

  .functions__block {
    height: auto;
  }

  .functions {
    border: 0;
  }

  .c__vitamins .functions__right {
    height: auto;
  }

  .functions__title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .functions__right {
    padding: 0;
    box-sizing: border-box;
  }

  .c__vitamins>.vitamins__text {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .c__vitamins>.vitamins__text>div:first-child {
    margin-right: 0;
  }

  .c__vitamins>.vitamins__text>div:last-child {
    margin-bottom: 25px;
  }

  .vitamins__text>.text__p>p:first-child {
    margin-bottom: 15px;
  }

  .c__vitamins>h2 {
    margin-bottom: 50px;
  }

  .c__vitamins>.functions>.functions__title {
    width: 100%;
  }

  .functions__title {
    bottom: -10px;
    background: transparent;
  }

  .c__vitamins>.functions>.functions__title {
    bottom: -10px;
    background: transparent;
  }

  .additionalLinkMobile {
    width: 335px;
    margin: auto;
    display: block;
    height: 40px;
    background: rgba(241, 247, 253, 0.8);
    border-radius: 10px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-left: 13px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 150%;
    color: #004E6B;
  }

  .additionalLinkMobile:after {
    content: '';
    width: 12px;
    height: 6px;
    background-image: url("../images/icons/arrow_down_d3.svg");
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 17px;
  }

  .additional {
    display: none;
  }

  .additionalLink {
    display: none;
  }

  .additionalMobile {
    display: block;
  }

  .c__vitamins>.functions {
    padding: 0;
    border: 0;
  }

  .functions__title {
    display: none;
  }

  .functions__titleMobile {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #7D82B8;
  }

  .functions__titleMobile:after {
    content: '';
    width: 100px;
    height: 8px;
    background-image: url("../images/d3/path.png");
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: -15px;
    top: 35px;
  }

  .c__vitamins .functions__titleMobile {
    color: #FA8828;
  }

  .c__vitamins .functions__titleMobile:after {
    background-image: url("../images/c/path.png");
  }

  .c__vitamins .additionalLinkMobile {
    background: #FFF4E5;
    color: #AB4D13;
  }

  .c__vitamins .additionalLinkMobile:after {
    background-image: url("../images/icons/arrow_down_c.svg");
  }

  .additionalLinkMobile.active {
    background: transparent;
    color: rgba(0, 78, 107, 0.5);
  }

  .c__vitamins .additionalLinkMobile.active {
    background: transparent;
    color: rgba(171, 77, 19, 0.5);
  }

  .additionalLinkMobile.active:after {
    transform: rotate(180deg);
  }

  .additionalMobile {
    padding-top: 25px;
    width: 400px;
    margin: auto;
  }

  .additionalMobile>div {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .additionalMobile>div>.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;
    align-self: flex-start;
    top: 5px;
    background-image: url("../images/icons/add_light.svg");
    background-size: cover;
  }

  .additionalMobile>div>span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #929396;
    width: 300px;
  }

  .c__vitamins .additionalMobile>div>.icon {
    width: 50px;
    height: 50px;
    background-image: url("../images/icons/add_orange_light.svg");
    background-size: cover;
  }

  .c__vitamins .additionalMobile>div>span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #929396;
  }

  .together__info>.info__p>h2, .together__info>.info__p>p {
    width: 100%;
  }

  .together__info>.info__images>.d3 {
    width: 144px;
    margin-right: 0;
  }

  .together__info>.info__images>.c {
    width: 140px;
  }

  .together__info>.info__images>.plus {
    margin-right: 0;
  }

  .discount__info>.info__left>img, .discount__info>.info__right>img {}

  .discount__wrapper {
    padding: 0 20px;
    padding-top: 100px;
  }

  .discount {
    padding: 50px 0;
    box-sizing: border-box;
  }

  .discount__sign {
    top: 10px;
  }

  .discount__sign>.icon {
    width: 50px;
    height: 50px;
    font-size: 17px;
  }

  .discount__sign>p {
    width: 365px;
    text-align: right;
    height: 35px;
    right: 20px
  }

  .discount__info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .discount__info>div {
    margin-top: 0;
    margin-bottom: 0;
    height: 500px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }

  .discount__info>.info__right>p, .discount__info>.info__left>p {
    font-size: 28px;
  }

  .discount__info>.info__left {
    height: 350px;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .discount__info>.info__right {
    height: 400px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .discount__info>div>img {
    position: relative;
  }

  .discount__info>.info__left>img, .discount__info>.info__right>img {
    top: 35px;
  }

  .discount__info>.info__left>img {
    width: 253px;
  }

  .discount__info>.info__right>img {
    width: 187px;
  }

  .discount__info>.info__plus {
    top: 40px;
    left: 0;
  }

  .discount__info>.info__left>p, .discount__info>.info__right>p {
    text-align: center;
  }

  .discount__info>.info__left>p:after, .discount__info>.info__right>p:after {
    display: none;
  }

  .onlineD3 {
    height: auto;
    padding-bottom: 50px;
  }

  .onlineD3__content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 15px;
  }

  .onlineC {
    height: auto;
    padding-bottom: 50px;
  }

  .onlineC__title, .onlineD3__title {
    font-size: 26px;
    text-align: center;
  }

  .onlineC__img:before {
    right: -370px;
  }

  .onlineD3__img {
    height: 345px;
  }

  .onlineC__img {
    height: 365px;
  }

  .onlineD3__img>img {
    width: 284px;
    left: -75px;
    top: 0px;
  }

  .onlineC__img>img {
    width: 257px;
    left: -50px;
    top: 130px;
  }

  .onlineD3__img:before, .onlineC__img:before {
    display: none;
  }

  .onlineC .content__left {
    width: 100%;
  }

  .partners>a {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .onlineC__content {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-left: 15px;
  }

  .reviews__wrapper:before, .reviews__wrapper:after {
    display: none;
  }

  .reviews>p {
    margin-bottom: 50px;
  }

  .question__title>span {
    max-width: 320px;
  }

  .question__title:after {
    right: 15px;
  }

  .health>h2 {
    margin-bottom: 75px;
  }

  .footer__wrapper .nav__list {
    text-transform: capitalize;
  }
}

@media (max-width: 575.98px) {}

@media (max-width: 374.98px) {}